{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Product Board{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }} {% endblock %}
{% block page_content %} 

<div class="container">
    <h1>
        Hello,Sky!
    </h1>
    <h1>
        This is yor Product Board！
    </h1>
</div>
<div class="container">
    <h2>精品文章</h2>
    <table class="table table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th colspan="5">文章标题</th>
                <th colspan="5">作者</th>
                <th colspan="5">作者描述</th>
                <th colspan="5">发表时间</th>
                <th colspan="5">阅读数</th>
                <th colspan="5">收藏数</th>
                <th colspan="5">点赞数</th>
                <th colspan="5">评论数</th>
                <th colspan="5">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for item in contents %}
            
            <tr>
            <td colspan="5">{{item.title}}</td>
            <td colspan="5">{{item.author}}</td>
            <td colspan="5">{{item.author_des}}</td>
            <td colspan="5">{{item.date}}</td>
            <td colspan="5">{{item.views}}</td>
            <td colspan="5">{{item.loves}}</td>
            <td colspan="5">{{item.zans}}</td>
            <td colspan="5">{{item.comment_num}}</td>
            <td colspan="5"><a href={{item.url}}>详情</a></td>
            </tr>
            
            {% endfor %} 
        </tbody>
    </table>
    </div>




    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
{% endblock %}