{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Product Board{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }} {% endblock %}
{% block page_content %} 

<div class="container">
    <h1>
        Hello,Sky!
    </h1>
    <h1>
        This is yor Product Board！
    </h1>
</div>
<div class="container">
    <h2>精品文章</h2>
    <table class="table table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th >文章标题</th>
                <th >作者</th>
                <th>作者描述</th>
                <th >发表时间</th>
                <th >阅读数</th>
                <th >收藏数</th>
                <th >点赞数</th>
                <th >评论数</th>
                <th >操作</th>
            </tr>
        </thead>
        <tbody>
            {% for item in contents %}
            
            <tr>
            <td >{{item.title}}</td>
            <td >{{item.author}}</td>
            <td >{{item.author_des}}</td>
            <td >{{item.date}}</td>
            <td >{{item.views}}</td>
            <td >{{item.loves}}</td>
            <td >{{item.zans}}</td>
            <td >{{item.comment_num}}</td>
            <td ><a href={{item.url}}>详情</a></td>
            </tr>
            
            {% endfor %} 
        </tbody>
    </table>
    </div>




    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
{% endblock %}